force-app/main/default/flows/Catalog_Request_Date_Auto_Populate_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Catalog_check</name>
        <label>Catalog check</label>
        <locationX>974</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Brewing_Wine_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Brewing_Wine_Distilling_CRD</targetReference>
            </connector>
            <label>Brewing Wine Distilling</label>
        </rules>
        <rules>
            <name>Brewing_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Brewing_Distilling_CRD</targetReference>
            </connector>
            <label>Brewing &amp; Distilling</label>
        </rules>
        <rules>
            <name>Brewing_Wine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Brewing_Wine_CRD</targetReference>
            </connector>
            <label>Brewing &amp; Wine</label>
        </rules>
        <rules>
            <name>Wine_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Wine_Distilling_CRD</targetReference>
            </connector>
            <label>Wine Distilling</label>
        </rules>
        <rules>
            <name>Brewing_Catalog_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Brewing_Catalog_Request_Date</targetReference>
            </connector>
            <label>Brewing Catalog check</label>
        </rules>
        <rules>
            <name>Distilling_Catalog_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Distilling_Catalog_Request_Date</targetReference>
            </connector>
            <label>Distilling Catalog check</label>
        </rules>
        <rules>
            <name>Wine_Catalogue_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Wine_CRD</targetReference>
            </connector>
            <label>Wine Catalogue check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Uncheck_Brewing_wine_Distilling</name>
        <label>Uncheck Brewing wine Distilling</label>
        <locationX>974</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False_Brewing_wine_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_blank_to_all_BWD</targetReference>
            </connector>
            <label>False Brewing wine Distilling</label>
        </rules>
        <rules>
            <name>False_Brewing_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>blank_update_to_Brewing_and_distilling</targetReference>
            </connector>
            <label>False Brewing Distilling</label>
        </rules>
        <rules>
            <name>False_Brewing_Wine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_blank_to_brewing_and_wine</targetReference>
            </connector>
            <label>False Brewing Wine</label>
        </rules>
        <rules>
            <name>False_Wine_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_blank_to_Wine_and_Distilling</targetReference>
            </connector>
            <label>False Wine Distilling</label>
        </rules>
        <rules>
            <name>False_Brewing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Brewing_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_blank_to_Brewing</targetReference>
            </connector>
            <label>False Brewing</label>
        </rules>
        <rules>
            <name>False_Wine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Wine_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_blank_to_Wine</targetReference>
            </connector>
            <label>False Wine</label>
        </rules>
        <rules>
            <name>False_Distilling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Distilling_Catalog__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_blank_to_Distilling</targetReference>
            </connector>
            <label>False Distilling</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Catalog Request Date Auto Populate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Catalog Request Date Auto Populate flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>blank_update_to_Brewing_and_distilling</name>
        <label>blank update to Brewing and distilling</label>
        <locationX>314</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_blank_to_all_BWD</name>
        <label>update blank to all BWD</label>
        <locationX>50</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_blank_to_Brewing</name>
        <label>Update blank to Brewing</label>
        <locationX>1106</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_blank_to_brewing_and_wine</name>
        <label>Update blank to brewing and wine</label>
        <locationX>578</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_blank_to_Distilling</name>
        <label>Update blank to Distilling</label>
        <locationX>1634</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_blank_to_Wine</name>
        <label>Update blank to Wine</label>
        <locationX>1370</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_blank_to_Wine_and_Distilling</name>
        <label>Update blank to Wine and Distilling</label>
        <locationX>842</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Brewing_Catalog_Request_Date</name>
        <label>update Brewing Catalog Request Date</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Brewing_Distilling_CRD</name>
        <label>update Brewing Distilling CRD</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Brewing_Wine_CRD</name>
        <label>update Brewing Wine CRD</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Brewing_Wine_Distilling_CRD</name>
        <label>update Brewing Wine Distilling CRD</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Brewing_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Distilling_Catalog_Request_Date</name>
        <label>update Distilling Catalog Request Date</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Wine_CRD</name>
        <label>update Wine CRD</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Wine_Distilling_CRD</name>
        <label>update Wine Distilling CRD</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Uncheck_Brewing_wine_Distilling</targetReference>
        </connector>
        <inputAssignments>
            <field>Distilling_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wine_Catalog_Request_Date__c</field>
            <value>
                <elementReference>NOW</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Catalog_check</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
