force-app/main/default/flows/Contact_Market_Update_and_User_Name_and_Date_auto_populate_when_Mark_for_Deletio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Mark_For_Deletion</name>
        <label>Mark For Deletion</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>Contact.Contact_Mark_For_Delete</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>is_mark_for_delete_checked</name>
        <label>is mark for delete checked?</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_For_Deletion</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Name_and_Date_auto_populate_when_Mark_for_Deletion_Check</name>
        <label>User Name and Date auto populate when Mark for Deletion Check</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>update_market_field</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_deletion_True_and_contact_Inactive_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upadte_Mark_for_deletion_block_0</targetReference>
            </connector>
            <label>Mark deletion True and contact Inactive false</label>
        </rules>
        <rules>
            <name>Mark_checked_for_Contact_Inactive_and_Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_data_for_both_blocks</targetReference>
            </connector>
            <label>Mark checked for Contact Inactive and Deletion</label>
        </rules>
        <rules>
            <name>Mark_unchecked_for_Contact_Inactive_and_Deletion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_data_for_both_blocks_Uncheck</targetReference>
            </connector>
            <label>Mark unchecked for Contact Inactive and Deletion</label>
        </rules>
        <rules>
            <name>Contact_active_check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Inactive_check</targetReference>
            </connector>
            <label>Contact active check</label>
        </rules>
        <rules>
            <name>Mark_for_Deletion_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upadte_Mark_for_deletion_block</targetReference>
            </connector>
            <label>Mark for Deletion Checked</label>
        </rules>
        <rules>
            <name>Contact_active_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact_Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_Inactive_uncheck</targetReference>
            </connector>
            <label>Contact active unchecked</label>
        </rules>
        <rules>
            <name>Mark_for_Deletion_unchecked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mark_For_Deletion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upadte_Mark_for_unchecked_deletion_block</targetReference>
            </connector>
            <label>Mark for Deletion unchecked</label>
        </rules>
    </decisions>
    <description>Update Market field from account and update contact inactive and Mark for deletion fields based on checking and unchecking.
This flow is made from two process builder</description>
    <environments>Default</environments>
    <formulas>
        <name>Null</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}</expression>
    </formulas>
    <interviewLabel>Contact Market Update and User Name and Date auto populate when Mark for Deletion Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Market Update and User Name and Date auto populate when Mark for Deletion Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>upadte_Mark_for_deletion_block</name>
        <label>upadte Mark for deletion block</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Mark_For_DeletionTimeStamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marked_For_Deletion_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>upadte_Mark_for_deletion_block_0</name>
        <label>upadte Mark for deletion block</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Inactive_Marked_by__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_Inactive_Marked_on__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_For_DeletionTimeStamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marked_For_Deletion_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>upadte_Mark_for_unchecked_deletion_block</name>
        <label>upadte Mark for unchecked deletion block</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Mark_For_DeletionTimeStamp__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marked_For_Deletion_By__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_data_for_both_blocks</name>
        <label>update data for both blocks</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Inactive_Marked_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_Inactive_Marked_on__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_For_DeletionTimeStamp__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marked_For_Deletion_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_data_for_both_blocks_Uncheck</name>
        <label>update data for both blocks (Uncheck)</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Inactive_Marked_by__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_Inactive_Marked_on__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mark_For_DeletionTimeStamp__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marked_For_Deletion_By__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Inactive_check</name>
        <label>update Inactive check</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Inactive_Marked_by__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_Inactive_Marked_on__c</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Inactive_uncheck</name>
        <label>update Inactive uncheck</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>update_market_field</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact_Inactive_Marked_by__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contacts_Inactive_Marked_on__c</field>
            <value>
                <elementReference>Null</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update the market field from the account</description>
        <name>update_market_field</name>
        <label>update market field</label>
        <locationX>974</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>is_mark_for_delete_checked</targetReference>
        </connector>
        <inputAssignments>
            <field>Market__c</field>
            <value>
                <elementReference>$Record.Account.Market__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Name_and_Date_auto_populate_when_Mark_for_Deletion_Check</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
