force-app/main/default/flows/gusmer_sales_user_survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>welcome_page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_932da272_b6cb_475d_86d1_192f5404190b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a5e0f50f_353a_4bc2_83f2_9fd9bb46f577</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_39317d84_4810_4323_b790_8951f3043e89</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_0fe7f214_5ca3_4872_a12e_33b1ef7b4d5a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_d2621f08_1e78_4663_8253_ee237724077b</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>welcome_page</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_0a810c8a_0eed_4ba3_ac7c_b1119494e4ee</name>
        <choiceText>Calendar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Calendar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0cca893f_f950_4fef_9453_462d2cdf0aa1</name>
        <choiceText>Relationship Management</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Relationship Management</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1df6fb67_b752_4461_baa6_a5ca47224bf8</name>
        <choiceText>Notes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Notes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fb3125a_78a5_4e2e_bd0c_ed3743dce1c4</name>
        <choiceText>Dashboards</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dashboards</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2511231e_6fb1_4ee5_b79f_bc05b82ae3f6</name>
        <choiceText>Reports</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reports</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_27fddcb1_dfec_44de_8273_37626f7999ea</name>
        <choiceText>Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2a96d8cd_52fb_4676_b2cc_99335c0ac089</name>
        <choiceText>Opportunities</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunities</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_2e1ba63f_f087_4dce_964c_9ab9521ac729</name>
        <choiceText>Sales Console</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Console</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3dabd973_bbfe_4c50_af7c_f893c2dfa6da</name>
        <choiceText>Cases</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cases</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_43f2a0ee_b907_4323_bfbe_1f72c3bf7816</name>
        <choiceText>Other (list below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (list below)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4812b536_f299_4d0f_a282_65244d11c33e</name>
        <choiceText>Other (list below)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (list below)</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4d691395_5380_489b_bafc_c6dee1e22ccd</name>
        <choiceText>Got it.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Got it.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_56a04ed7_60a7_4806_b8b0_edbca7791665</name>
        <choiceText>Rarely.  There is one specific task that I have to switch to Classic for.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rarely.  There is one specific task that I have to switch to Classic for.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5a06e9e5_242c_4cc9_942f_5ed93d8079cf</name>
        <choiceText>Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contacts</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_60bb99f6_ab3a_478c_8bbf_639997ddcabc</name>
        <choiceText>Lead Generation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lead Generation</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_613f0c6f_6892_448d_8915_db93da0f8e81</name>
        <choiceText>Quotes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quotes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_62a79ffe_0336_4ed1_9fda_e94477b49274</name>
        <choiceText>It&apos;s what I am familiar with</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>It&apos;s what I am familiar with</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_702e6c19_7fe0_4a91_a673_0d890c3b4586</name>
        <choiceText>Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_75f3e53e_c6d3_457e_9e6c_977b70a2b487</name>
        <choiceText>I had no idea what the App Launcher was until now</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I had no idea what the App Launcher was until now</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_78e75b28_28ce_4249_9895_8b0e762577b7</name>
        <choiceText>Sales Operations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Operations</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7f67cb9e_1903_411f_868f_ff18cee89ff8</name>
        <choiceText>Files</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Files</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_85d1ed54_e8fc_473e_8c51_c9f92a64e080</name>
        <choiceText>Home</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_86f91569_e1de_4714_8b77_a1e0bd1f1fc7</name>
        <choiceText>Tasks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tasks</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89be67e8_9f87_4510_8cd1_7504cfd65c6b</name>
        <choiceText>I only use Salesforce Classic.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I only use Salesforce Classic.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_89eecc02_a861_41b7_9961_08ea9304da85</name>
        <choiceText>Groups</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Groups</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8bfe2d5f_797c_4437_83df_4e0f58f0f9f5</name>
        <choiceText>Sales Leadership</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Leadership</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_96d50def_4e3a_4beb_a354_d204ded5aae8</name>
        <choiceText>Sometimes.  There are a few specific tasks that I need to use Classic for.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sometimes.  There are a few specific tasks that I need to use Classic for.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9de7e34f_0e04_4a0d_ae06_0c290f743ca8</name>
        <choiceText>Never.  Lightning Experience let&apos;s me do everything I need to.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Never.  Lightning Experience let&apos;s me do everything I need to.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbdff178_ad01_497c_a768_c5fa7ea4aa76</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbf2ad13_03b3_4dd6_b88e_aa820f20a8ba</name>
        <choiceText>I prefer the look of Classic compared to Lightning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I prefer the look of Classic compared to Lightning</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c1293e5c_dfe0_4594_8d89_ce2053c4c843</name>
        <choiceText>Leads</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Leads</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d09d4f03_6237_49c3_bdab_65a75b73e28f</name>
        <choiceText>Gusmer Sales</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gusmer Sales</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e7c45b8f_cde3_4d7f_9720_159df2dc186d</name>
        <choiceText>What is Salesforce Classic?</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>What is Salesforce Classic?</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ec475221_67fa_4f08_8180_e13af72722ba</name>
        <choiceText>Often.  I prefer to use Classic for most tasks.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Often.  I prefer to use Classic for most tasks.</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fb241ecb_b74b_4ee3_95ad_1660bf865291</name>
        <choiceText>I find it easier to accomplish certain tasks in Classic</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I find it easier to accomplish certain tasks in Classic</stringValue>
        </value>
    </choices>
    <interviewLabel>Gusmer Sales User Survey</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Gusmer Sales User Survey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_0fe7f214_5ca3_4872_a12e_33b1ef7b4d5a</name>
        <label>Menu Tab Usage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_d2621f08_1e78_4663_8253_ee237724077b</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_12d45c47_461d_4fa2_8955_bab76da32081</name>
            <choiceReferences>c_85d1ed54_e8fc_473e_8c51_c9f92a64e080</choiceReferences>
            <choiceReferences>c_27fddcb1_dfec_44de_8273_37626f7999ea</choiceReferences>
            <choiceReferences>c_5a06e9e5_242c_4cc9_942f_5ed93d8079cf</choiceReferences>
            <choiceReferences>c_c1293e5c_dfe0_4594_8d89_ce2053c4c843</choiceReferences>
            <choiceReferences>c_2511231e_6fb1_4ee5_b79f_bc05b82ae3f6</choiceReferences>
            <choiceReferences>c_1fb3125a_78a5_4e2e_bd0c_ed3743dce1c4</choiceReferences>
            <choiceReferences>c_2a96d8cd_52fb_4676_b2cc_99335c0ac089</choiceReferences>
            <choiceReferences>c_3dabd973_bbfe_4c50_af7c_f893c2dfa6da</choiceReferences>
            <choiceReferences>c_86f91569_e1de_4714_8b77_a1e0bd1f1fc7</choiceReferences>
            <choiceReferences>c_0a810c8a_0eed_4ba3_ac7c_b1119494e4ee</choiceReferences>
            <choiceReferences>c_89eecc02_a861_41b7_9961_08ea9304da85</choiceReferences>
            <choiceReferences>c_613f0c6f_6892_448d_8915_db93da0f8e81</choiceReferences>
            <choiceReferences>c_1df6fb67_b752_4461_baa6_a5ca47224bf8</choiceReferences>
            <choiceReferences>c_7f67cb9e_1903_411f_868f_ff18cee89ff8</choiceReferences>
            <choiceReferences>c_4812b536_f299_4d0f_a282_65244d11c33e</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Which of the following menu tabs do you use? (select all that apply)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Menu tabs are used to select which type of record you want to interact with as seen below:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gusmerenterprises--c.documentforce.com/file-asset-public/Menu_Tabs?oid=00D790000008iJi&amp;amp;v=1&quot; alt=&quot;Menu Tabs&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_16c58afc_f2a6_4db8_af8e_088d51407892</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please list all other Menu Tabs that you use:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_12d45c47_461d_4fa2_8955_bab76da32081</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_4812b536_f299_4d0f_a282_65244d11c33e</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_39317d84_4810_4323_b790_8951f3043e89</name>
        <label>App Usage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_0fe7f214_5ca3_4872_a12e_33b1ef7b4d5a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3fd540f7_d1a0_4f99_9ed6_e1d2db5496ad</name>
            <choiceReferences>c_702e6c19_7fe0_4a91_a673_0d890c3b4586</choiceReferences>
            <choiceReferences>c_8bfe2d5f_797c_4437_83df_4e0f58f0f9f5</choiceReferences>
            <choiceReferences>c_60bb99f6_ab3a_478c_8bbf_639997ddcabc</choiceReferences>
            <choiceReferences>c_78e75b28_28ce_4249_9895_8b0e762577b7</choiceReferences>
            <choiceReferences>c_0cca893f_f950_4fef_9453_462d2cdf0aa1</choiceReferences>
            <choiceReferences>c_2e1ba63f_f087_4dce_964c_9ab9521ac729</choiceReferences>
            <choiceReferences>c_d09d4f03_6237_49c3_bdab_65a75b73e28f</choiceReferences>
            <choiceReferences>c_75f3e53e_c6d3_457e_9e6c_977b70a2b487</choiceReferences>
            <choiceReferences>c_43f2a0ee_b907_4323_bfbe_1f72c3bf7816</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Which of the following Apps do you use? (select all that apply)&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you&lt;b&gt; &lt;/b&gt;are not familiar with Apps they control what set of menu options you have access to and how the different page layouts look. They can be chosen from the App Launcher at the top left of the screen (it looks like nine dots). The current App you are using is listed on the right of the App Launcher. In this case it is &lt;b&gt;Sales&lt;/b&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gusmerenterprises--c.documentforce.com/file-asset-public/App_Launcher1?oid=00D790000008iJi&amp;amp;v=1&quot; alt=&quot;App Launcher&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f1f55cfc_3829_42c1_9fed_fd421022781c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please list any other Apps that you use:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3fd540f7_d1a0_4f99_9ed6_e1d2db5496ad</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_43f2a0ee_b907_4323_bfbe_1f72c3bf7816</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_932da272_b6cb_475d_86d1_192f5404190b</name>
        <label>Overall Salesforce Satisfaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a5e0f50f_353a_4bc2_83f2_9fd9bb46f577</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_41e50edd_d448_475f_8966_d80334db51f6_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <name>q_41e50edd_d448_475f_8966_d80334db51f6</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;In general, how would you rate your Salesforce user experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>0 = I hate it 
5 = Super awesome, nothing I&apos;d change</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_76e8297a_e2b2_4cd7_9fc6_1f2facb787a7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please briefly describe any areas that you are not satisfied with.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>CSAT</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_41e50edd_d448_475f_8966_d80334db51f6</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>4.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_74b17b06_e4cf_4956_a55a_ebfa298da978</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Are there any features that you would like to see added?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a5e0f50f_353a_4bc2_83f2_9fd9bb46f577</name>
        <label>Classic Environment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_39317d84_4810_4323_b790_8951f3043e89</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</name>
            <choiceReferences>c_89be67e8_9f87_4510_8cd1_7504cfd65c6b</choiceReferences>
            <choiceReferences>c_ec475221_67fa_4f08_8180_e13af72722ba</choiceReferences>
            <choiceReferences>c_96d50def_4e3a_4beb_a354_d204ded5aae8</choiceReferences>
            <choiceReferences>c_56a04ed7_60a7_4806_b8b0_edbca7791665</choiceReferences>
            <choiceReferences>c_9de7e34f_0e04_4a0d_ae06_0c290f743ca8</choiceReferences>
            <choiceReferences>c_e7c45b8f_cde3_4d7f_9720_159df2dc186d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimePicklist</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;How often do you switch to Salesforce Classic from the Lightning Experience?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <helpText>Our goal is to move towards using Lightning Experience for all tasks.  Identifying those tasks which still need to be done in Salesforce Classic will help us to optimize them for Lightning.</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3970e09a_4e24_45bd_ab90_c2e9c80388d3</name>
            <choiceReferences>c_62a79ffe_0336_4ed1_9fda_e94477b49274</choiceReferences>
            <choiceReferences>c_fb241ecb_b74b_4ee3_95ad_1660bf865291</choiceReferences>
            <choiceReferences>c_bbf2ad13_03b3_4dd6_b88e_aa820f20a8ba</choiceReferences>
            <choiceReferences>c_bbdff178_ad01_497c_a768_c5fa7ea4aa76</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Why do you prefer the Classic environment? (select all that apply)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_89be67e8_9f87_4510_8cd1_7504cfd65c6b</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_ec475221_67fa_4f08_8180_e13af72722ba</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9a7a5cd1_ff19_43b3_950f_aee6e22f598e</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please describe the specific task(s) you use Classic for:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_96d50def_4e3a_4beb_a354_d204ded5aae8</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_56a04ed7_60a7_4806_b8b0_edbca7791665</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3970e09a_4e24_45bd_ab90_c2e9c80388d3</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_fb241ecb_b74b_4ee3_95ad_1660bf865291</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1abc0feb_8d1d_4010_9d37_b6a20b5c1360</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please briefly describe your Other reasons:&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_3970e09a_4e24_45bd_ab90_c2e9c80388d3</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>c_bbdff178_ad01_497c_a768_c5fa7ea4aa76</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f4edbfc6_2299_4bc2_b5c4_0abb25a67802</name>
            <choiceReferences>c_4d691395_5380_489b_bafc_c6dee1e22ccd</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Salesforce Classic is the old workspace that looks like this:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gusmerenterprises--c.documentforce.com/file-asset-public/Classic?oid=00D790000008iJi&amp;amp;v=1&quot; alt=&quot;Classic&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;It has been replaced by the Lightning Experience that looks like this:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://gusmerenterprises--c.documentforce.com/file-asset-public/Lightning?oid=00D790000008iJi&amp;amp;v=1&quot; alt=&quot;Lightning&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;You can switch between the two when needed by selecting View Profile at the top right (it looks like a photo of you or a generic person in a bear suit), but at some point Classic will be phased out. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Picklist</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7d9a8815_be9b_48bb_b039_6aa92f8866da</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_e7c45b8f_cde3_4d7f_9720_159df2dc186d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_d2621f08_1e78_4663_8253_ee237724077b</name>
        <label>Mobile App Usage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>100</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>scale</name>
                <value>
                    <stringValue>5</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d953188b_1d34_4e98_9399_8c843dfb02ae</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeSlider</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;What percentage of your Salesforce use is on a phone or tablet using the Salesforce mobile app?&lt;/b&gt;                                                                                                                    &lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <helpText>A value of 100 means you only use your phone or tablet to access Salesforce.
A value of 0 means you only use your computer to access Salesforce.</helpText>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_932da272_b6cb_475d_86d1_192f5404190b</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Thank you for completing the Gusmer Sales User Survey!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Your participation is appreciated!&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://gusmerenterprises--c.documentforce.com/file-asset-public/GusmerLogoBLUE_rev021?oid=00D790000008iJi&amp;amp;v=1&quot; alt=&quot;GusmerLogoBLUE_rev02&quot;&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Welcome to the Gusmer Sales User Survey! &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Please take a few minutes to answer the questions on the following pages so we can prioritize Salesforce development efforts and identify any areas that need our attention.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Thank you,&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;The Gusmer Salesforce Administration Team&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_41e50edd_d448_475f_8966_d80334db51f6_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
