force-app/main/default/flows/PardotMessageArchive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>Adds a Pardot Message to the Archive when it is first created and every time it is changed.</description>
    <environments>Default</environments>
    <interviewLabel>PardotMessageArchive {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PardotMessageArchive</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a New Pardot Message to archive the most recently received message</description>
        <name>Create_New_Pardot_Message_Record</name>
        <label>Create New Pardot Message Record</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Contact_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message_Created_Date__c</field>
            <value>
                <elementReference>$Record.Most_Recent_Pardot_Message_Update__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Record.Message_Pardot__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject__c</field>
            <value>
                <elementReference>$Record.Subject_Pardot__c</elementReference>
            </value>
        </inputAssignments>
        <object>Pardot_Message__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Updates the Date/Time when the Pardot Message changes</description>
        <name>UpdatePardotMessageDate</name>
        <label>UpdatePardotMessageDate</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Create_New_Pardot_Message_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Most_Recent_Pardot_Message_Update__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdatePardotMessageDate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject_Pardot__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
