force-app/main/default/flows/Total_All_time_Sales_update_dummy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Migrated from the: Total All time Sales update dummy workflow rule
Workflow rule description: &quot;</description>
    <environments>Default</environments>
    <formulas>
        <name>update_all_time_dummyFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(1)</expression>
    </formulas>
    <formulas>
        <name>updatepipelinedummy</name>
        <dataType>String</dataType>
        <expression>TEXT(1)</expression>
    </formulas>
    <label>Total All time Sales update dummy</label>
    <migratedFromWorkflowRuleName>Total All time Sales update dummy</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_alltime_dummy</name>
        <label>update alltime dummy</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>update_Total_pipeline_dummy</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_All_Time_Sales_Dummy__c</field>
            <value>
                <elementReference>update_all_time_dummyFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Total_pipeline_dummy</name>
        <label>update Total pipeline dummy</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Realization</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposal Out</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Negotiation</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Pipeline_Amount_Dummy__c</field>
            <value>
                <elementReference>updatepipelinedummy</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_alltime_dummy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThan</operator>
            <value>
                <dateValue>2015-01-01</dateValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
